html {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 0%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 241, 234);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3cpath d='M1597.18 503.51C1432.37 498.61 1248.6 268.17 987.69 251.51 726.78 234.85 781.07 11.95 682.94-4.23' stroke='rgba(247%2c 230%2c 209%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1585.86 259.86C1390.34 255.95 1135.33-0.74 849.23-3.34 563.14-5.94 573.41-38.16 480.92-38.2' stroke='rgba(247%2c 230%2c 209%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1653.21 397.6C1500.53 394.47 1389.91 199.97 1078.6 190.4 767.28 180.83 662.97-76.58 503.98-83.46' stroke='rgba(247%2c 230%2c 209%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1627.26 231.66C1517.35 234.29 1435.15 393.16 1216.41 388.46 997.68 383.76 953.44-27.2 805.57-69.56' stroke='rgba(247%2c 230%2c 209%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1666.32 143.31C1563.38 143.05 1463.43 73.31 1260.53 73.31 1057.64 73.31 1058.8 143.43 854.75 143.31 650.69 143.19 557.7-11.02 448.96-13.73' stroke='rgba(247%2c 230%2c 209%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

body {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f7f1ea;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23f7e6d1' fill-opacity='0.37'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

section {
    scroll-snap-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    width: 85vw;
    max-width: 60em;
    padding-bottom: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

button {
    text-decoration: none;
    cursor: pointer;
}

footer {
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    margin: 0;
    padding: 2.5em;
    line-height: 1.8em;
    font-size: 0.5em;
    width: 100%;
    background-color: rgb(247, 230, 209);
}


#copyright-symbol {
    font-size: 1.4em;
}

.social-name {
    font-size: 0.8em;
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    text-align: start;
    width: 85vw;
    max-width: 60em;
    padding-left: 2em;
}