#socials {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    position: absolute;
    bottom: 0.7em;
}


.fa-brands {
    margin: 1em;
}