#socials {
    margin: 0;
    padding: 0;

    margin-top: 10vh;
    min-height: 10vh;
    /* background-color: red; */
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;

}


.fa-brands {
    margin: 1em;
}